
<div class="full-width column">
    <div class="field">
      <label for="context-name" >Template</label>
      <input id="context-Nom" aria-required="true" data-validate="required" name="context-Nom" type="text" value='Template Client' disabled=true />
    </div>
    <div class="field">
      <label for="context-name" class="required">Nom</label>
      <input [(ngModel)]="Custmername" id="context-Nom" aria-required="true" data-validate="required" name="context-Nom" type="text"  />
    </div>
    <div class="field">
      <label for="context-name" >Pays</label>
      <select *ngIf="countrys" [(ngModel)]="ValueOfCountrySelected"  (change)=" onChangeCountry($event.target.value)" name="ValueOfCountrySelected">
        <option aria-required="true" data-validate="required" [selected]="vil.CSCD" *ngFor="let vil of countrys" value="{{vil['CSCD']}}" >{{vil["TX40"]}}</option>
      </select>
    </div>
    <div class="field"></div>
    <div class="field">    
      <select [(ngModel)]="ValueOfAreaSelected" name="ValueOfAreaSelected"  *ngIf="ValueOfCountrySelected" (change)=" onChangeState($event.target.value)" >
        <label for="context-name">Ville</label>
        <option  aria-required="true" data-validate="required" *ngFor="let Ar of Area" value="{{Ar['ECAR']}}" >{{Ar["TX15"]}}</option>
      </select>
    </div>
    <div class="field">
      <label for="context-name" class="required">Adresse1</label>
      <input  [(ngModel)]="Adresse1"  id="context-Adresse1" aria-required="true" data-validate="required" name="context-Adresse1" type="text"/>
    </div>
    <div class="field">
      <label for="context-name" class="required">Adresse2</label>
      <input  [(ngModel)]="Adresse2" id="context-Adresse2"  name="context-Adresse2" type="text"/>
    </div>
    <form [formGroup]="myForm" >
      <div class="form-group">
        <div class="field">
            <label for="context-name" class="required">Code Postale</label>
            <input FormControl="codePostale" [(ngModel)]="codePostale" id="context-Code" aria-required="true" data-validate="required" name="context-Code" type="text"  class="form-control" formControlName="Code_Postale" [ngClass]="{'is-invalid': myForm.get('Code_Postale').hasError('minlength')}"  (keyup)="handleinput()"/>
            <div class="invalid-feedback" >
              <br>
              <strong *ngIf="myForm.get('Code_Postale').hasError('minlength')">La longueur du code postale doit être égale à 4</strong>
              <br>
              <strong *ngIf="myForm.get('Code_Postale').hasError('pattern')">Code postale n'admet que 1-5</strong>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
            <label for="context-name" >Téléphone</label>
            <input  aria-required="true" data-validate="required" [(ngModel)]="MobileNumber" id="context-name"   name="context-name" type="text"  class="form-control" formControlName="Telephone" [ngClass]="{'is-invalid': myForm.get('Telephone').hasError('minlength')}"  (keyup)="handleinput()"/>
            <br>
            <strong *ngIf="myForm.get('Telephone').hasError('minlength')">la longueur de téléphone doit être égale à 8</strong>
            <br>
            <strong *ngIf="myForm.get('Telephone').hasError('pattern')">Téléphone n'admet que 0-9 </strong>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label for="context-name" >Numéro Faxe</label>
          <input [(ngModel)]="FaxNumber" id="context-name" name="context-name" type="text"  class="form-control" formControlName="NumeroFaxe" [ngClass]="{'is-invalid': myForm.get('NumeroFaxe').hasError('minlength')}"  (keyup)="handleinput()" />
          <br>
          <strong *ngIf="myForm.get('NumeroFaxe').hasError('minlength')">la longueur de téléphone doit être égale à 8</strong>
          <br>
          <strong *ngIf="myForm.get('NumeroFaxe').hasError('pattern')">Numéro Faxe n'admet que 0-9 </strong>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label for="context-name" >E-mail</label>
          <input aria-required="true" data-validate="required" [(ngModel)]="Email" id="context-name"  name="context-name" type="text"  class="form-control" formControlName="E_mail" [ngClass]="{'is-invalid': myForm.get('E_mail').hasError('minlength')}"  (keyup)="handleinput()" />
          <br>
          <strong *ngIf="myForm.get('E_mail').hasError('pattern')">E-mail non valide,Ressayer</strong>
        </div>
      </div>
    </form>
</div>
  
   